sftp_home_partition: /opt/sftp
sftp_enable_logging: true
sftp_uploaded_file_retention: {{ sftp.uploaded_file_retention |d(7) }}
sftp_users:
{% for user in sftp.users %}
  - name: "{{ user.username }}"
    public_key_material: ["{{ user.public_key_material}}"]
    shell: False
    sftp_directories: {{ user.user_directories | to_json }}
    sync_pattern: '{{ user.sync_pattern |d('*') }}'
    sync_frequency: {{ user.sync_frequency | d('10') }}
{% endfor %}
